.logo{
    padding-left: 50px;
    padding-top: 30px;
    width: 100px;
    height: 100px;
    justify-content: left;
}
body{
    font-family: "Libre Baskerville", serif; 
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav image{
    justify-content: left;
}

.center {
    width: 50%;
    margin-left: -100px;
    justify-content: center;
    position: relative;
    top: 45px;
}
.center input{
    background-color: #E1E2EB;
    width: 778px;
    height: 68px;
    border-radius: 20px;
    font-size: 16px;
}

::placeholder {
    padding-left: 30px;
}

.rightSide {
    display: flex;
    margin-right: 80px;
    margin-top: 23px;
}

.nav ul {

    list-style-type: none;
    padding-top: 30px;
    padding-right: 100px;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    font-size: 18px;
    color: black;
    text-decoration: none; /* Remove underline */
}

.nav a:hover {
    text-decoration: none; /* Remove underline */
    color: deepskyblue; /* Use the default text color */
}

.nav li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.card {
    width: 100px;
    border: 1px solid #3e83ff;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card{
    width: 20%;
    background-color: #E1E2EB;
    border-color: #E1E2EB;

}

.card a {
    color: black;
    text-decoration: none;
}

.card p {
    color: black;
    /* margin-left: 50px; */
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.card-text {
    background-color: #F5F5F5;
    margin: 0 auto;
    justify-content: center;
    width: 85%;
    border-radius: 10px;
    margin-top: 50px;
    height: 850px;
}

.card-text p {
    color: black;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
    width: 78%;
    line-height: 1.6;
}

/* .image-sdu {
    width: 655px;
    height: 500px;
    text-align: center;
} */

.card-text img {
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
    padding-top: 20px;
}


#authIcon{
    width: 60px;
    height: 60px;
    margin-right: 50px;
    margin-top: 15px;
}
#showWindow{

    border: none;
    background-color: transparent;
    color: black;
    font: inherit;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
}

.rightSide p {
    color: black;
    padding-right: 40px;
    padding-top: 23px;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
}

#loginModalLabel{
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
}

